@model IEnumerable<MyFollow.Models.ProductUpdate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Media)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductUpdateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductUpdateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductUpdateId })
        </td>
    </tr>
}

</table>
